@use '~/scss/' as *;

.container {
  margin-top: 27px;
  width: 355px;
  min-height: 366px;
  position: absolute;
  @include flex(flex-start, flex-start);
  flex-direction: column;
  gap: 10px;
  left: 880px;
  @include mobile {
    display: none;
  }
  .header {
    @include flex(center, center);
    margin-top: 10px;
    gap: 5px;
    .profile-image {
      width: 34px;
      height: 34px;
    }
    span {
      color: $black;
      font-size: 0.9rem;
    }
  }
  .footer {
    width: 100%;
    position: relative;
    .suggest {
      @include flex(center, space-between);
      :first-child {
        color: $dark-gray;
      }
      :nth-child(2) {
        cursor: pointer;
        color: $dark-gray;
      }
    }
    .loading {
      position: absolute;
      left: 50%;

      transform: translateY(150%);
    }
    .friends {
      margin-top: 10px;
      width: 100%;
      @include flex(flex-start, space-between);
      gap: 10px;
      flex-direction: column;
      .friend-wrapper {
        width: inherit;
        @include flex(center, space-between);

        .profile-wrapper {
          gap: 10px;
          @include flex(center, space-between);
          .friend-image {
            width: 34px;
            height: 34px;
          }
          span {
            color: $black;
            font-size: 0.9rem;
          }
        }
      }
      span {
        color: $primary-blue;
        cursor: pointer;
      }
    }
  }
}
