@use '~/scss/' as *;

.container {
  margin-top: 27px;
  width: 365px;
  height: 315px;
  background-color: $white;
  border-radius: $border-radius;
  border: $border;
  position: absolute;
  right: 10px;
  @include mobile {
    display: none;
  }
}
