@use '~/scss/' as *;

.container {
  margin-top: 27px;
  width: 465px;
  height: auto;
  z-index: 100;
  margin-bottom: 40px;
  background-color: $white;
  border-radius: 10px;
  border: $border;
  overflow: hidden;
  position: relative;
  @include flex(center, center);
  flex-direction: column;

  @include mobile {
    width: 345px;
    margin-left: 5px;
  }
  flex-shrink: 0;
  .loading1 {
    position: absolute;
    left: 50%;
  }
}
.loading2 {
  position: absolute;
  left: 50%;
  transform: translateX(-180%);
}
