@use '~/scss/' as *;

.container {
  width: inherit;
  height: auto;
  color: black;
  position: absolute;
  left: 80px;
  top: 30px;
  z-index: 100;
  padding: 10px 20px;
  @include flex(flex-start, center);
  flex-direction: column;
  gap: 20px;
  .input-wrapper {
    width: 320px;
    height: 36px;
    position: relative;
    .input {
      width: 100%;
      position: absolute;
      z-index: 50;
      padding: 15px 10px;
      border-radius: 8px;
      top: 0;
      left: 0;
      border: none;
      background-color: $light-gray;
    }
    .icon {
      z-index: 100;
      cursor: pointer;
      background-color: $light-gray;
      font-size: 1.3rem;
      position: absolute;
      right: -10px;
      top: 40%;
    }
    .loading1 {
      position: absolute;
      right: -20px;
      top: 15%;
    }
  }

  .hr {
    width: 100%;
    margin-left: -20px;
    background-color: $gray;
    height: 0.4px;
    border: none;
  }
  .loading2 {
    position: absolute;
    left: 30%;
    bottom: 5px;
    transform: translateY(260%);
  }
  .user-list {
    width: 100%;
    height: 350px;
    padding: 5px 0 0 0;
    margin: 0 0 0 -30px;
    cursor: pointer;
    z-index: 100;
    overflow-y: scroll;
    @include flex(flex-start, flex-start);
    flex-direction: column;

    :hover {
      background-color: $light-gray;
    }

    .user {
      padding: 10px 20px;
      width: 90%;
      @include flex(flex-start, center);
      flex-direction: column;
      :hover {
        background-color: unset;
      }
    }
  }
  .recently {
    padding-top: 30px;
  }
  p {
    text-align: center;
    padding: 10px 0 0 30px;
    margin-top: 40px;
  }
}
