@use '~/scss/' as *;

.container {
  width: 351px;
  height: auto;
  background-color: $white;
  @include flex(center, center);
  flex-direction: column;
  border: $border;
  position: absolute;
  left: 50%;
  top: 10%;
  padding: 20px;
  @include flex(center, center);
  flex-direction: column;
  transform: translateX(-50%);
  gap: 10px;
  .text {
    margin: 0;
    color: $black;
    font-weight: 700;
  }
  .inputs {
    @include flex(center, center);
    flex-direction: column;
    gap: 4px;
    margin-bottom: 10px;
    .input {
      width: 320px;
    }
  }
  .button {
    width: 100%;
  }
  .error {
    color: $red;
  }
  .go-back {
    cursor: pointer;
    color: $primary-blue;
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
    display: block;
    margin: 10px 0 0 10px;
    padding-bottom: 10px;
  }
}
