@use '~/scss/' as *;
.btn {
  font-weight: 400;
  flex-shrink: 0;
  border-radius: 6px;
  transition: all 110ms ease-out;
  &:active {
    transform: translateY(2px);
  }
  border: none;

  &:hover {
    opacity: 0.9;
  }
}

.primary {
  color: $white;
  background-color: $primary-blue;
}

.danger {
  color: var(--light-color);
  background-color: var(--primary-red-color);
}

.dark {
  color: var(--dark-color);
  background-color: var(--primary-color);
}

.small {
  padding: 4px 16px;
  font-size: 1.4rem;
}

.medium {
  padding: 4px 26px;
  font-size: 1.3rem;
}

.large {
  width: 100%;
  padding: 4px 0;
  font-size: 1.2rem;
}
