@use '~/scss/' as *;
.modal {
  position: fixed;
  inset: 0;
  display: flex;
  margin-left: 0;
  z-index: 20;
  .overlay {
    position: fixed;
    inset: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.189);
    &.active {
      display: block;
    }
  }
  .overlay2 {
    position: fixed;
    inset: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.499);
  }
  .content {
    position: absolute;
    border-radius: $border-radius;
    left: 50%;
    top: 42%;
    transform: translate(-50%, -50%);
  }
  .content2 {
    position: absolute;
    border-radius: $border-radius;
    left: 50%;
    top: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
  }
}
