@use '~/scss/' as *;
.container {
  width: 406px;
  height: 450px;
  border-radius: $border-radius;
  background-color: $white;
  position: relative;
  border-radius: $border-radius;
  z-index: 10;
  transition: all 0.4s ease-in-out;
  animation: modalAnimation 0.1s forwards;
  @include flex(center, flex-start);
  flex-direction: column;

  overflow: hidden;
  &.active {
    animation: modalActive 0.5s forwards;
  }
  .title {
    display: inline-block;
    color: $black;
    width: 100%;
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
    position: relative;
    margin-top: 5px;
    &::after {
      content: '';
      position: absolute;
      width: inherit;
      height: 1px;
      background-color: $gray;
      left: 0;
      right: 0;
      top: 40px;
      bottom: 0;
    }
  }
  .next {
    position: absolute;
    color: $primary-blue;
    font-size: 1.2rem;
    right: 20px;
    top: 7px;
    z-index: 20;
    cursor: pointer;
  }
}

@keyframes modalActive {
  from {
    width: 406px;
    height: 450px;
    transform: tranlateX(1);
  }
  to {
    width: 780px;
    height: 450px;
    transform: tranlateX(2);
  }
}
