@use '~/scss/' as *;
.container {
  position: fixed;
  top: 30px;
  right: 30px;

  .toast {
    position: relative;
    width: 240px;
    height: 50px;
    background-color: red;
    z-index: 100;
    border-radius: 5px;
    top: 0;
    right: -350px;
    background: #fff;
    padding: 20px 25px 20px 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.35);
    animation: toastSlideIn 0.5s forwards;
    &.active {
      animation: toastSlideOut 0.5s forwards;
    }

    .toast-content {
      display: flex;
      align-items: center;
      .check {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 38px;
        width: 38px;
        background-color: $green;
        color: $white;
        font-size: 1.7rem;
        border-radius: 10%;
      }
      .check2 {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 38px;
        width: 38px;
        background-color: $red;
        color: $white;
        font-size: 1.7rem;
        border-radius: 10%;
      }
      .message {
        display: flex;
        flex-direction: column;
        margin: 0 5px;

        .text {
          font-size: 1.1rem;
          font-weight: 400;
          color: $green;
        }
        .text2 {
          font-size: 1.1rem;
          font-weight: 400;
          color: $red;
        }
      }
    }
    .progress {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 4px;
      width: 100%;
      background: #ddd;
      :before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: #6af440;
      }
      .active:before {
        animation: progress 5s linear forwards;
      }
    }
  }
}
@keyframes toastSlideIn {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-350px);
  }
}
@keyframes toastSlideOut {
  from {
    transform: translateX(-350px);
    opacity: 1;
  }
  to {
    transform: translateX(0);
    opacity: 0;
  }
}
