@use '~/scss/' as *;
.wrapper {
  position: absolute;
  width: 100%;
  height: 450px;
  @include flex(center, center);
  flex-direction: column;
  bottom: 40px;

  &.active {
    @include flex(flex-start, center);
    position: absolute;
    width: 495px;
    height: 100%;
    left: 0;
  }
  .content-wrapper {
    @include flex(center, center);
    flex-direction: column;
    margin-top: auto;
    gap: 50px;
    .icon-wrapper {
      position: relative;
      margin-bottom: 40px;
      flex: 1;
      .icon1 {
        font-size: 5rem;
        font-weight: 200;
        position: absolute;
        color: $black;
        right: 5px;
        transform: rotate(-5deg);
      }
      .icon2 {
        color: $black;
        font-size: 5.5rem;
        font-weight: 200;
        position: absolute;
        left: -35px;
        top: 12px;
      }
    }
    .text {
      flex: 1;
      color: $black;
      font-size: 1.4rem;
      font-weight: 300;
    }

    .input-wrapper {
      position: relative;
      @include flex(center, center);
      flex-direction: column;
      .input-field {
        background-color: red;
        width: 220px;
        position: absolute;
        top: 0px;
        height: 33px;
        z-index: 10;
        opacity: 0;
        cursor: pointer;
      }
      .button {
        margin-bottom: 40px;
      }
    }
  }
  .image-wrapper {
    width: 100%;
    height: 600px;
    .image {
      width: 100%;
      position: absolute;
      background-size: cover;
      background-repeat: no-repeat;
      height: 410px;
      bottom: -40px;
      z-index: 0;
      background-position: center;
      &.active {
        width: 80%;
        height: 405px;
      }
    }
  }
}
