@use '~/scss/' as *;

.container {
  flex: 4;
  color: $black;
  position: absolute;
  width: 572px;
  left: 350px;
  @include mobile {
    width: 372px;
    overflow: hidden;
    left: 10px;
    right: 10px;
    padding-left: 10px;
  }
}
