@use '~/scss/' as *;
.container {
  width: 300px;
  display: grid;
  height: 120px;
  overflow-y: scroll;
  z-index: 200;
  overflow-x: hidden;
  grid-template-columns: repeat(8, 25px);
  grid-template-rows: repeat(4, 20px);
  column-gap: 10px;
  row-gap: 15px;
  background-color: $white;
  box-shadow: $box-shadow;
  position: absolute;
  bottom: 90px;
  left: 40px;
  .emoji {
    margin-left: 5px;
    font-size: 1.4rem;
    cursor: pointer;
  }
}
