@use '~/scss/' as *;

.container {
  @include flex(center, center);
}
.main {
  position: relative;
  overflow: hidden;
  .img1 {
    width: 384px;
    height: 520px;
  }
  .img2 {
    position: absolute;
    opacity: 0;
    transition: 1.8s ease-out, opacity 1.7s ease-out;
    right: 43px;
    top: 24px;
    width: 210px;
    height: 444px;

    &.active {
      opacity: 1;
    }
  }
}
