@use '~/scss/' as *;
.container {
  margin-top: 50px;
  @include flex(center, flex-start);
  flex-direction: column;

  .wrapper {
    @include flex(center, flex-start);
    margin: 20px 0 10px 10px;
    .avatar {
      z-index: 50;
      width: 36px;
      height: 36px;
    }
    .name {
      color: $black;
      font-size: 1.3rem;
      font-weight: 600;
      margin-left: 10px;
    }
  }
  .text-area {
    width: 380px;
    height: 246px;
    background-color: $white;
    outline: none;
    border: 1px solid $white;
    font-size: 1.4rem;
  }
}
