@use '~/scss/' as *;

.container {
  position: absolute;
  width: 940px;
  height: auto;
  right: 20px;
  top: 50px;
  .hr {
    border-bottom: $gray solid 1px;
    margin-top: 50px;
    border-top: none;
  }
}
