@use '~/scss/' as *;
.input {
  display: block;
  border-radius: 3px;
  border: $gray solid 1px;
  width: calc(100% - 6px);
  height: 36px;
  margin: 5px 0;
  padding: 0 5px;

  &:focus {
    border: $dark-gray solid 1px;
  }
}
.errors {
  color: $red;
  font-size: 0.9rem;
}
