$body-bg: #fafafa;
$main-color: #ff0000;
$txt-color: #fff;
$primary-blue: #0095f6;
$facebook-blue: #385185;
$white: #fff;
$black: #000;
$gray: #d0cdcd;
$dark-gray: #a5a3a3;
$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$header-height: 8rem;
$header-shrink-height: 5rem;
$border-radius: 30px;

$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: 'Roboto', sans-serif;
