.object-fit-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.object-fit-contain {
  object-fit: contain;
}

.rounded {
  border-radius: 50%;
}

.profile {
  width: 38px;
  height: 38px;
  border-radius: 50%;
}
