@use '~/scss/' as *;

.container {
  width: 398px;
  min-height: 410px;
  background-color: $white;
  border-radius: $border-radius;
  overflow: hidden;
  border: 0.5px solid $gray;
  animation: modalAnimation 0.1s forwards;
  @include flex(center, flex-start);
  flex-direction: column;

  gap: 10px;
  .header {
    width: 100%;
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px $gray solid;
    @include flex(center, space-between);
    .header-icon {
      color: $black;
      padding-right: 5px;
      font-size: 1.6rem;
      cursor: pointer;
    }
    & > span {
      font-size: 1.3rem;
      color: $black;
      text-align: center;
      font-weight: 500;
      flex: 3;
    }
  }
  .content {
    width: 100%;
    overflow-y: scroll;
    @include flex(flex-start, center);
    flex-direction: column;
    padding-left: 0;
    margin: 0;
    :hover {
      background-color: $light-gray;
    }
    .social {
      width: inherit;
      @include flex(center, flex-start);
      gap: 10px;
      padding: 10px 0;
      cursor: pointer;
      :hover {
        background-color: unset;
      }
      :first-child {
        color: $black;
        font-size: 1.9rem;
        padding-left: 10px;
      }
      :nth-child(2) {
        color: $black;
        font-size: 1.1rem;
      }
    }
    .action {
      width: inherit;
      position: absolute;
      padding: 10px 50px;
      color: $black;
      font-size: 1.2rem;
      bottom: 0;
      cursor: pointer;
    }
  }
}
